* {
  box-sizing: border-box;
}


body {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  }
  
  h1 {
    font-size: 50px !important;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6.4px;
    text-align: center;
    margin-bottom: 20px !important;
    margin-top: 100px !important;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.2);
  }
  
  h2 {
    text-align: center;
    font-family: Ropa Sans;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }
  
  h3 {
    text-align: center;
    font-size: 30px !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
  #button {
    padding: 10px 100px;
    background: #D1B6BA;
    box-shadow: 0px 4px 4px rgba(223, 220, 220, 0.25);
    border-radius: 50px;
    border: #ed93be;
    justify-content: center;
    align-items: center;
    color: #272142;
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 700;
    transition: all 200ms ease-in-out;
    margin: 0 auto;
    margin: 40px 0;
  }
  
  #submit {
    padding: 10px 50px !important;
    background: #ed93be !important;
    box-shadow: 0px 4px 4px rgba(223, 220, 220, 0.1);
    border-radius: 10px !important;
    border: #ed93be !important;
    justify-content: center;
    align-items: center;
    color: #272142 !important;
    font-size: 14px !important;
    font-family: Montserrat !important;
    font-weight: 700 !important;
    transition: all 200ms ease-in-out !important;
    float: right;
  }
  
  #button:hover {
    background: #C9ABAF;
    color: #231e3c;
    border: #C9ABAF;
  }
  
  #submit:hover {
    background: #C9ABAF;
    color: #231e3c;
    border: #C9ABAF;
  }
  
  footer {
    text-align: center;
    margin: 50px 0;
  }
  
  footer p {
    margin-top: 10px;
  }
  
  p {
    color: #272142;
  }
  
  .p-work {
    margin-top: -25px;
    font-size: 17px;
  }
  
  #photo-me {
    max-width: 325px;
    max-height: 560px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

  footer p {
    opacity: 0.5;
  }
  
  .a-footer {
    margin: 3px;
  }
  
  
  @media (max-width: 768px) {
    h1 {
      font-size: 28px !important;
      letter-spacing: 2.5px;
      margin-top: 30px!important;
    }

    h2 {
      font-size: 18px !important;
      letter-spacing: 1.5px;
    }
    h3 {
      font-size: 16px !important;
      letter-spacing: 1.2px;
    }

    p {
      font-size: 16px !important;
      opacity: 0.85;
    }

    h2,
    h3 {
      line-height: 20px !important;
      margin: 20px 0 !important;
    }
  
    #photo-me {
      max-width: 150px;
    }

    #button {
      padding: 8px 10px;
      margin: 20px 0;
      font-size: 14px;
    }
  
    .container-index {
      max-width: 85% !important;
      margin-bottom: 25px !important;
      display: block;
      margin: 0 auto;
    }

    .scroll-container {
      max-width: 100%;
    }

    .workimg {
      min-width: 250px;
      padding: 5px;
    }
  
    .container-touch {
      max-width: 85% !important;
      display: block;
      margin: 0 auto;
      margin-top: 35px;
    }
  
    #h2-work {
      margin-bottom: 5px !important;
    }
  
    #about-head {
      max-width: 80% !important;
    }
  
    .about-text {
      font-size: 16px;
      margin: 0 auto !important;
      padding: 0 7px !important;
    }
  
    .about-form {
      max-width: 80% !important;
      margin-top: 35px;
    }
  
    .form-submit {
      max-width: 260px !important;
      display: inline-block !important;
    }
  
    .submit {
      padding: 5px 20px !important;
      font-size: 14px !important;
    }
  
    label {
      font-size: 16px;
    }
  
    footer {
      font-size: 15px;
    }
  
    .links {
      margin-top: 50px;
      font-size: medium;
    }

    .dif-background {
      background-color: #bc9fa3;
      border-radius: 6px;
      padding: 10px;
    }

  }
  
  .work-h2 {
    margin-top: 50px !important;
    font-size: 40px;
  }
  
  .col {
    margin: 0;
    padding: 0;
}

.dif-background {
  background-color: #D1B6BA;
  border-radius: 6px;
}
  
  .h3-about {
    max-width: 90%;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: -15px;
  }
  
  .message {
    padding: 50px 72px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
  }
  
  .getintouch {
    padding: 12px 5px;
    border-radius: 5px;
    margin: 3px 0 20px;
    border: 1px solid black;
    width: 100%;
  }
  
  label {
    color: white;
    display: block !important;
    letter-spacing: 2px;
    text-align: left;
  }
  
  .about-form {
    padding: 10px !important;
    max-width: 500px !important;
    margin-top: 35px;
    margin: 20px auto !important;
    display: inline-block !important;
  }
  
  .about-text {
    text-align: justify;
    line-height: 30px;
    font-size: 20px;
    margin: 0 10px;
  }
  
  .container-index {
    margin-bottom: 50px;
  }
  
  .container-touch {
    max-width: 85% !important;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
  }
  
  .scroll-container {
    margin-top: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .workimg {
    display: inline-block;
    vertical-align: top;
    margin: -5px 5px;
    max-width: 40%;
    box-sizing: border-box;
  }

  .workimg img {
    width: 100%;
    height: auto;
    display: block;
  }

  .workimg h2, .workimg p {
    white-space: normal;
    word-wrap: break-word;
    text-align: left;
  }

  .projects {
    text-align: left;
    padding-left: 10px;
    font-style: italic;
  }

  .container-main {
    max-width: 95%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 35px 20px 0 20px;
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    color: #272142;
    margin-top: 5px;
  }

  .navbar {
    background: #413f3f
  }
  
  .h3-text {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .form-submit {
    padding: 10px !important;
    max-width: 50% !important;
    margin-top: 35px;
    margin: 20px auto !important;
    display: inline-block !important;
  }
  
  .links {
    margin-top: 70px;
    line-height: 35px;
    color: #272142;
  }
  
  .links a {
    color: #272142;
    text-decoration: none;
    font-size: larger;
  }